.admin-header-container {
  nav {
    background-color: white;

    .navbar-nav {
      align-items: center;

      button,
      .header-link {
        padding: 8px 0;
        margin: 0 10px;
        border: none;
        background-color: transparent;
        color: black;
        text-decoration: none;
        transition: 0.1s ease-out;

        &:hover {
          color: $admin-blue;
        }
      }
    }
  }
}

.vue-select-author {
  .vs__clear {
    margin-top: -4px;
  }

  ul {
    max-height: 130px;
  }
}
