$footer-height: 2.5rem;

$bg-color-main: black;
$txt-color-main: #bfbfbf;
$txt-color-main-hover: white;

$red-color: #ea4235;
$orange-color: #fabc05;
$green-color: #32a953;
$blue-color: #4286f5;

$admin-blue: #007bff;
