// Styles for VueDraggableResizable components

$handle-size: 10px;

.vdr {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  touch-action: none;

  .handle {
    width: $handle-size;
    height: $handle-size;
    position: absolute;
    background: #eee;
    border: 1px solid black;
    z-index: 98;

    &.handle-tl {
      top: -$handle-size;
      left: -$handle-size;
      cursor: nw-resize;
    }

    &.handle-tm {
      top: -$handle-size;
      left: 50%;
      margin-left: calc($handle-size / -2);
      cursor: n-resize;
    }

    &.handle-tr {
      top: -$handle-size;
      right: -$handle-size;
      cursor: ne-resize;
    }

    &.handle-ml {
      top: 50%;
      left: -$handle-size;
      margin-top: calc($handle-size / -2);
      cursor: w-resize;
    }

    &.handle-mr {
      right: -$handle-size;
      top: 50%;
      margin-top: calc($handle-size / -2);
      cursor: e-resize;
    }

    &.handle-bl {
      bottom: -$handle-size;
      left: -$handle-size;
      cursor: sw-resize;
    }

    &.handle-bm {
      bottom: -$handle-size;
      left: 50%;
      margin-left: calc($handle-size / -2);
      cursor: s-resize;
    }

    &.handle-br {
      bottom: -$handle-size;
      right: -$handle-size;
      cursor: se-resize;
    }
  }

  .letter {
    background-color: transparent;
    color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: default;
    outline: none;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    z-index: 100;
  }

  &.rect-active {
    outline: 2px solid $blue-color !important;
    box-shadow: 0px 0px 0px 999999px rgba(0, 0, 0, 0.8);
    z-index: 9 !important;
    color: black;
    user-select: none;

    .letter {
      color: black;
    }

    &:hover {
      .letter {
        color: black;
      }
    }
  }

  &:hover {
    .letter {
      color: white;
    }
  }
}
